tf_state_bucket   = "bucket-name"   // Terraform state bucket
tf_lock_table     = "table-name"    // DynamoDB table
region            = "us-east-1"     // AWS region
profile           = "profile-name"  // AWS profile
domain            = "domain-name"   // Website domain
environment       = "Dev"           // Environment